# Require any additional compass plugins here.
<% Toppings::SASS_DEPENDENCIES.each do |dep| -%>
<%= "require \"#{dep.to_s}\"" %>
<% end -%>

# Set this to the root of your project when deployed:
http_path = "/"
sass_dir = "<%= Toppings.conf.stylesheets.root_folder %>"
css_dir = "<%= Toppings.conf.stylesheets.compile_target %>"

images_dir = "images"
javascripts_dir = "javascripts"
